{% extends 'base.html' %}
{% load static %}

{% block title %}
home_메인
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home_main.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endblock %}

{% block content %}


<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
 <div class="home-main">
    <div class="elements-1">
        <div class="elements-2">
            <div class="head">
                <div class="view">
                    <div class="searchbar">
                        <img src="{% static 'images/search.svg' %}" alt="검색아이콘">
                        <input type="text" name="room-name" id="room-name" placeholder="원하는 방을 입력하세요. (ex. 팀플)">
                    </div>
                </div>
                <div class="space_btn">
                    <button class="create" onclick='location.href="{% url "home_create_room1" %}"'>우주 만들기</button>
                    <button class="enter">우주 참여하기</button>
                </div>
            </div>

            <div class="list">
                <button>
                    <p>멋쟁이사자처럼 14기</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>독서실 인증 방</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>일찍 자고 일찍 일어나기</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>갓생 챌린지</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>팀플 이겨내자</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>긍정 에너지 인증하기</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
                <button>
                    <p>일기 쓸 사람</p>
                    <img src="{% static 'images/Arrow.svg' %}">
                </button>
            </div>

        </div>
    </div>
    {% include 'components/navbar.html' with active_nav='home' %}
 </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}