{% extends 'base.html' %}
{% load static %}

{% block title %}
내 우주 둘러보기
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/space/space_main.css' %}">
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/components/primary_button.css' %}">
{% endblock %}

{% block content %}

<!-- 페이지 내용: 여기부터 코딩하면됨!! main 클래스명 x -->
<div class="space-main">
      <div class="elements-1">
            <div class="elements-2">
                  <div class="top-bar">
                        <p class="top-bar-title">내 우주 둘러보기</p>
                  </div>
                  <div class="list">
                        {% for space in spaces %}
                        <a href="{% url 'spaces:space_room' space.space_id %}">
                              <button>
                                    <p>{{ space.name }}</p>
                                    <img src="{% static 'images/Arrow.svg' %}">
                              </button>
                        </a>
                        {% empty %}
                        <div class="empty-state">

                              <div class="empty-top"></div>

                              <div class="empty-content">
                                    <p class="empty-state-title">
                                          우주가 텅 비었어요!
                                    </p>

                                    <p class="empty-state-description">
                                          직접 우주를 만들거나<br>친구의 우주에 참여해 보세요 :)
                                    </p>
                              </div>

                              <a href="{% url 'home_main' %}">
                                    <button class="primary-btn back-button">
                                          홈으로 돌아가기
                                    </button>
                              </a>

                        </div>
                        {% endfor %}
                  </div>
            </div>
      </div>
      {% include 'components/navbar.html' with active_nav='space' %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/페이지js경로.js' %}"></script>
{% endblock %}